input[type="submit"] {
    background-color: rgb(233, 219, 29);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}
#error {
    color: red;
    margin-top: 10px;
}
.ei {
    display: inline-block;
}

form {
    height: 530px;
}